N8N_Automation_WorkFlows/Invoice_ExtractionWorkflow.json
{
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "q": "has:attachment",
            "sender": "your-email@example.com"
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "id": "08b16289-2b95-4aa0-a8db-85e619a321b7",
        "name": "Receiving Invoices",
        "type": "n8n-nodes-base.gmailTrigger",
        "position": [
          -3056,
          96
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{ $input.item.binary.attachment_0.mimeType }}",
                "rightValue": "application/pdf",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "512955b3-5632-4269-85b4-fe1dc2f7475d",
        "name": "Should Process Email?",
        "type": "n8n-nodes-base.if",
        "position": [
          -2480,
          96
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer <LLAMA_CLOUD_API_KEY>"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "attachment_0"
              }
            ]
          },
          "options": {}
        },
        "id": "42cda32d-72e6-4491-ad40-affd43a4618c",
        "name": "Upload to LlamaParse",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2192,
          112
        ],
        "typeVersion": 4
      },
      {
        "parameters": {
          "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer <LLAMA_CLOUD_API_KEY>"
              }
            ]
          },
          "options": {}
        },
        "id": "c17f58fe-8271-47fe-8d7a-d0d05046b89d",
        "name": "Get Processing Status",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -2016,
          112
        ],
        "typeVersion": 4
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "SUCCESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "SUCCESS"
              }
            ]
          },
          "options": {}
        },
        "id": "59cbc425-db47-4d6f-95c4-8d4b27130a01",
        "name": "Is Job Ready?",
        "type": "n8n-nodes-base.switch",
        "position": [
          -1856,
          112
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer <LLAMA_CLOUD_API_KEY>"
              }
            ]
          },
          "options": {}
        },
        "id": "3662ba56-f653-4381-8617-69ff45176f9a",
        "name": "Get Parsed Invoice Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1664,
          -16
        ],
        "typeVersion": 4
      },
      {
        "parameters": {},
        "id": "31e186a8-6231-4b16-969e-6279113bd162",
        "name": "Apply Data Extraction Rules",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "position": [
          -1392,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.output }}",
          "options": {}
        },
        "id": "5223a704-2fbc-43a9-a38c-b453b4d1c2fb",
        "name": "Map Output",
        "type": "n8n-nodes-base.set",
        "position": [
          -1056,
          16
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "sheetName": "Data",
          "options": {}
        },
        "id": "6ae6cf89-2ea0-4aeb-b8d4-2916ec2bdce9",
        "name": "Append to Google Sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          -832,
          16
        ],
        "typeVersion": 4
      }
    ],
    "connections": {
      "Receiving Invoices": {
        "main": [
          [
            {
              "node": "Should Process Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Process Email?": {
        "main": [
          [
            {
              "node": "Upload to LlamaParse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to LlamaParse": {
        "main": [
          [
            {
              "node": "Get Processing Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Processing Status": {
        "main": [
          [
            {
              "node": "Is Job Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Job Ready?": {
        "main": [
          [
            {
              "node": "Get Parsed Invoice Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Parsed Invoice Data": {
        "main": [
          [
            {
              "node": "Apply Data Extraction Rules",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Data Extraction Rules": {
        "main": [
          [
            {
              "node": "Map Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Output": {
        "main": [
          [
            {
              "node": "Append to Google Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "41c436da7030a9268d66e2cd109e9f80e81014f04f6a92061ed9b2b8e2ca9040"
    }
  }